.badgesRow{
    margin-bottom: 20px;
}

.myBadge{
    padding: 0px;
}

.myBadge .badgeImg{
    width: 120px;
    height: 120px;
    float: left;
    margin-right: 5px;
}

.myBadge .card-title{
    margin-bottom: 0;
}

.myBadge .card-body{
    padding: 10px;
    padding-right: 5px;
}

.myBadge .badgeButtons{
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.btn{
    padding: 2px;
}

.myBadge .card-footer{
    clear: both;
}

.testBadge{
    background-color: lightgray;
}

.project .card-title{
    margin-bottom: 0;
}

.project .buttons{
    position: absolute;
    right: 0px;
    top: 5px;
    padding-right: 5px;
}

.btn .icon{
    width: 32px;
}

.projectsRow{
    margin-bottom: 20px;
}

.project .btn{
    padding: 2px;
}

.projectPage{
    margin-top: 5px;
}

.projectPage .buttons{
    position: absolute;
    right: 5px;
    top: 5px;
}